.topo{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    width: 100%;
    max-width: 1024px;
    margin: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
}
.lista{
    display: flex;
    align-items: center;
    list-style-type: none;   
    gap: 50px;
    margin-right: 50px;
}
