.capa{
    width: 100%;
    max-width: 1024px;
    margin: 100px auto 0 auto;
}
.imagem{
    width: 100%;
    object-fit: cover;
}
.texto{
    position: relative;
    color: white;
    top: -400px;
    left: 80px;
}

.texto>h1{
    margin: 20px 0;
    font-size: 50px;
    color: cyan;
}

.texto>p{
    font-size: 30px;
}

@media(max-width:768px){
    .texto{
        top: -350px;
    }    
    .texto>h1{
        font-size: 50px;
    }    
    .texto>p{
        font-size: 30px;
    }
}

@media(max-width:630px){
    .texto{
        top: -300px;
    }
}

@media(max-width:550px){
    .texto{
        top: -280px;
    }    
    .texto>h1{
        font-size: 40px;
    }
        .texto>p{
        font-size: 20px;
    }
}