.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1024px;
    justify-content: space-between;
    margin: 20px auto 0 auto;
}

.containerLogo{
    text-align: center;
}
.containerInfos{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.colunaInfo{
    text-align: center;
}
.colunaInfo>h2{
    margin-bottom: 15px;
}

@media (max-width: 768px){
    .containerLogo{
        font-size: 15px;
    }
    .colunaInfo>h2{
        font-size: 24px;
    }
    .colunaInfo>h3{
        font-size: 18px;
    }
}

@media (max-width: 550px){
    .containerLogo{
        text-align: center;
    }
    .colunaInfo>h2{
        font-size: 18px;
    }
    .colunaInfo>h3{
        font-size: 14px;
    }
}